[package]
name = "axum-example"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8"
tokio = { version = "1", features = ["full"] }
minify-html = "0.18.1"
tower-http = { version = "0.6", features = ["compression-br"] }
tower-minify-html = { path = "../.." }
